@import '@arco-themes/react-arco-pro/index.less';

// 基础页面样式
.youki-base-layout {
  background-color: #fff;
  background-image: url('../assets/bg/test.png');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}